[Unit]
Description=Export the configuration from kernel command line as environment variables

# before starting the Agama server
Before=agama-web-server.service
Before=agama.service

# before the interactive setting methods so they can override it
Before=live-password-dialog.service
Before=live-password-systemd.service

[Service]
ExecStart=source /usr/bin/agama-cmdline-env
Type=oneshot

[Install]
WantedBy=default.target
