[Unit]
Description=Agama kernel cmdline processing

# have to be after network to be able to download info files
After=network-online.target

# before starting the Agama servers so they read configuration parsed
Before=agama-web-server.service
Before=agama.service
Before=x11-autologin.service

[Service]
Type=oneshot
Environment=TERM=linux
ExecStart=kernel-cmdline-conf.sh
StandardInput=tty
TimeoutSec=0

[Install]
WantedBy=default.target
