[Unit]
Description=Set a random password for Agama/root if not already set

# before starting the SSH and Agama server so they use the new password
Before=sshd.service
Before=agama-web-server.service

# after all other password services, this a fallback service
After=agama-password-cmdline.service
After=agama-password-dialog.service
After=agama-password-iso.service
After=agama-password-systemd.service

[Service]
ExecStart=agama-password --random
Type=oneshot

[Install]
WantedBy=default.target
