[Unit]
Description=Agama automatic profile runner
# it needs to D-Bus, so it has access to Agama D-Bus interface
After=dbus.socket
# it needs to NetworkManager, so it has access to it
After=NetworkManager.service
# it needs Agama, of course
After=agama.service
Requires=agama.service

[Service]
ExecStart=/usr/bin/auto.sh
# it has to be simple and not one shot as install can take time and we need to
# display web ui
Type=simple
User=root

[Install]
WantedBy=default.target
