[Unit]
Description=Set the Agama/root password from kernel command line
# before starting the SSH and Agama server so they use the new password
Before=sshd.service
Before=agama-web-server.service

# plain text password or encrypted password passed via kernel command line
ConditionKernelCommandLine=|agama.password
ConditionKernelCommandLine=|agama.password_hash

[Service]
ExecStart=agama-password --kernel
Type=oneshot

[Install]
WantedBy=default.target
