[Unit]
Description=Interactively set the root password via systemd

# before starting the SSH and Agama server so they use the new password
Before=sshd.service
Before=agama-web-server.service
# before X11 because it switches the terminal to VT7
Before=x11-autologin.service

# copied from YaST2-Second-Stage.service
Before=getty@tty1.service
Before=getty@tty2.service
Before=getty@tty3.service
Before=getty@tty4.service
Before=getty@tty5.service
Before=getty@tty6.service
Before=serial-getty@hvc0.service
Before=serial-getty@sclp_line0.service
Before=serial-getty@ttyAMA0.service
Before=serial-getty@ttyS0.service
Before=serial-getty@ttyS1.service
Before=serial-getty@ttyS2.service
Before=serial-getty@ttysclp0.service

# start at the end to avoid overwriting the screen with systemd messages
After=agama.service
After=modprobe@drm.service

# kernel command line option
ConditionKernelCommandLine=live.password_systemd

[Service]
Type=oneshot
ExecStartPre=dmesg --console-off
ExecStart=live-password --systemd
ExecStartPost=dmesg --console-on
StandardOutput=tty
RemainAfterExit=true
TimeoutSec=0

[Install]
WantedBy=default.target
