# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# 2 space indentation
[*.sh]
indent_style = space
indent_size = 2

[*.{c,h,cxx,hxx}]
indent_style = space
indent_size = 2
tab_width = 8

[Makefile]
indent_style = tab
