[package]
name = "agama-server"
version = "0.1.0"
edition = "2021"
rust-version.workspace = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0"
agama-locale-data = { path = "../agama-locale-data" }
agama-lib = { path = "../agama-lib" }
log = "0.4"
zbus = { version = "3", default-features = false, features = ["tokio"] }
uuid = { version = "1.3.4", features = ["v4"] }
thiserror = "1.0.40"
serde = { version = "1.0.152", features = ["derive"] }
serde_yaml = "0.9.24"
cidr = { version = "0.2.2", features = ["serde"] }
tokio = { version = "1.33.0", features = ["macros", "rt-multi-thread"] }
tokio-stream = "0.1.14"
gettext-rs = { version = "0.7.0", features = ["gettext-system"] }
regex = "1.10.2"
macaddr = { version = "1.0", features = ["serde_std"] }
async-trait = "0.1.75"
axum = { version = "0.7.4", features = ["ws"] }
serde_json = "1.0.113"
tower-http = { version = "0.5.1", features = ["compression-br", "fs", "trace"] }
tracing-subscriber = "0.3.18"
tracing-journald = "0.3.0"
tracing = "0.1.40"
clap = { version = "4.5.0", features = ["derive", "wrap_help"] }
tower = "0.4.13"
utoipa = { version = "4.2.0", features = ["axum_extras"] }
config = "0.14.0"
rand = "0.8.5"
axum-extra = { version = "0.9.2", features = ["cookie", "typed-header"] }
pam = "0.8.0"
serde_with = "3.6.1"
pin-project = "1.1.5"
openssl = "0.10.64"
sd-notify = "0.4.2"
hyper = "1.2.0"
hyper-util = "0.1.3"
tokio-openssl = "0.6.4"
futures-util = { version = "0.3.30", default-features = false, features = [
  "alloc",
] }
libsystemd = "0.7.0"
subprocess = "0.2.9"
gethostname = "0.4.3"

[[bin]]
name = "agama-dbus-server"
path = "src/agama-dbus-server.rs"

[[bin]]
name = "agama-web-server"
path = "src/agama-web-server.rs"

[dev-dependencies]
http-body-util = "0.1.0"
tokio-test = "0.4.3"
