[Unit]
Description=Agama Installer Service
After=network-online.target

[Service]
Type=forking
ExecStart=/usr/bin/agamactl --daemon
PIDFile=/run/agama/bus.pid
User=root
TimeoutStopSec=5

[Install]
WantedBy=default.target
