[Unit]
Description=D-Installer Service
Requires=dbus.socket cockpit.socket

[Service]
Type=dbus
BusName=org.opensuse.DInstaller
ExecStart=/usr/bin/d-installer
User=root
TimeoutStopSec=5

[Install]
WantedBy=default.target
