[Unit]
Description=D-Installer Service
Requires=dbus.socket cockpit.socket
After=network-online.target

[Service]
Type=dbus
BusName=org.opensuse.DInstaller
ExecStart=/usr/bin/d-installer manager
ExecStop=/usr/bin/d-installer -k
User=root
TimeoutStopSec=5

[Install]
WantedBy=default.target
