fieldset.d-installer-fieldset {
  padding: var(--fs-base);
  border: 0;
  border-top: 1px solid var(--color-gray);
  border-image: linear-gradient(45deg, var(--color-gray), transparent) 1;

  legend {
    padding-inline-end: var(--fs-base);
    margin-inline-start: -(var(--fs-base));
  }
}
