@use "@assets/fonts.scss";
@use "eos-ds/dist/scss/eos-base/variables/branding.scss";

fieldset.d-installer-fieldset {
  padding: fonts.$size-base;
  border: 0;
  border-top: 1px solid branding.$eos-bc-gray-50;
  border-image: linear-gradient(45deg, branding.$eos-bc-gray-50, transparent) 1;

  legend {
    padding-inline-end: fonts.$size-base;
    margin-inline-start: -(fonts.$size-base);
  }
}
