@use "@assets/fonts.scss";
@use "@assets/_variables.scss" as branding;

fieldset.d-installer-fieldset {
  padding: fonts.$size-base;
  border: 0;
  border-top: 1px solid branding.$bc-gray-50;
  border-image: linear-gradient(45deg, branding.$bc-gray-50, transparent) 1;

  legend {
    padding-inline-end: fonts.$size-base;
    margin-inline-start: -(fonts.$size-base);
  }
}
