div.d-installer-logpopup {
  word-break: break-all;
  white-space: pre-wrap;
  font-family: var(--pf-global--FontFamily--monospace);
  font-size: 90%;
}

div.d-installer-logline {
  &:hover {
    background-color: var(--color-gray-dark);
  }
}
