[Unit]
Description=Agama automatic profile runner
# it needs agama web service as it calls CLI which uses its API
# other dependencies are transitive
After=agama-web-server.service
BindsTo=agama-web-server.service

[Service]
ExecStart=/usr/bin/agama-auto
# it has to be simple and not one shot as install can take time and we need to
# display web ui
Type=simple
User=root

[Install]
WantedBy=default.target
