[Unit]
Description=DInstaller automatic profile runner
# it needs to dbus, so it has access to dinstaller dbus interface
After=dbus.socket
# it needs to NetworkManager, so it has access to it
After=NetworkManager.service
# it needs dinstaller, of course
After=d-installer.service
Requires=d-installer.service

[Service]
ExecStart=/usr/bin/auto.sh
# it has to be simple and not one shot as install can take time and we need to
# display web ui
Type=simple
User=root

[Install]
WantedBy=default.target
