.features {
  list-style-type: none;
}

.features li {
  display: flex;
  flex-direction: column-reverse;
  gap: 3rem;
  padding-block-start: 3rem;
}

.features li p {
  font-size: 24px;
}

.features li img {
  align-self: center;
}

.codeBlock pre {
  max-block-size: 400px;
}

@media screen and (min-width: 996px) {
  .features li {
    flex-direction: row;
    align-items: center;
  }

  .features li:nth-child(even) {
    flex-direction: row-reverse;
  }

  .features li img {
    max-inline-size: 35vw;
  }
}
