
[Unit]
Description=D-Installer Service
Requires=dbus.socket

[Service]
Type=dbus
BusName=org.opensuse.YaST
ExecStart=/usr/bin/d-installer
TimeoutStopSec=5

[Install]
WantedBy=default.target
