// Better alignment for expandable section with a sibling list
ul.pf-v5-c-list + div.pf-v5-c-expandable-section {
  > button {
    margin-inline-start: calc(var(--pf-v5-global--spacer--lg) - var(--pf-v5-global--spacer--sm) - var(--pf-v5-global--icon--FontSize--sm));
  }

  > div {
    margin-block-start: 0;
  }
}

// *DataLists custom styles
li.pf-v5-c-data-list__item {
  border-block-end-width: thin;
}

div.pf-v5-c-data-list__item-row:has(button.remove-link:hover) {
  background-color: #fafafa;
}

button.remove-link:hover {
  color: var(--pf-v5-c-button--m-danger--BackgroundColor);
}

.locale-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 1em;
  width: 100%;
}

.first-username-dropdown {
  position: absolute;
  width: 100%;
}

.first-username-wrapper {
  position: relative;
  width: 100%;
}
