// Better alignment for expandable section with a sibling list
ul.pf-v5-c-list + div.pf-v5-c-expandable-section {
  > button {
    margin-inline-start: calc(
      var(--pf-v5-global--spacer--lg) - var(--pf-v5-global--spacer--sm) - var(
          --pf-v5-global--icon--FontSize--sm
        )
    );
  }

  > div {
    margin-block-start: 0;
  }
}

// *DataLists custom styles
li.pf-v5-c-data-list__item {
  border-block-end-width: thin;
}

div.pf-v5-c-data-list__item-row:has(button.remove-link:hover) {
  background-color: #fafafa;
}

button.remove-link:hover {
  color: var(--pf-v5-c-button--m-danger--BackgroundColor);
}

.first-username-dropdown {
  position: absolute;
  width: 100%;
}

.first-username-wrapper {
  position: relative;
  width: 100%;
}

#productSelectionForm {
  .pf-v5-c-radio input {
    align-self: center;
    width: 20px;
    height: 20px;
  }

  .pf-v5-c-card {
    img {
      width: 80px;
    }

    label {
      cursor: pointer;
    }

    label::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 999;
    }
  }
}
