// Standard section
// In the future we might need to use an specific CSS class for it if we start having different
// section layouts.
section:not([class^="pf-c"]) {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-areas:
    "icon title"
    ".... content";
  gap: var(--spacer-small);
}

section:not(:last-child, [class^="pf-c"]) {
  margin-block-end: var(--spacer-large);
}

section > svg {
  grid-area: icon;
}

section > h2 {
  grid-area: title;

  button {
    border: none;
    background: none;
    color: inherit;
    font: inherit;
    padding: 0;
  }

  a, button {
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
    text-underline-offset: 0.2em;
    transition: all 0.15s ease-in-out;

    &:hover {
      color: var(--color-link-hover);
    }
  }
}

section > .content {
  grid-area: content;
}

// Custom selection list
.selection-list > * {
  border: 1px solid #eee;
  transition:
    font-size 0.15s ease-in-out,
    font-weight 0.25s ease-in-out,
    margin-block 0.15s ease-in-out,
    box-shadow 0.35s ease-in-out;

  margin-block-start: -2px;
}

.selection-list .header {
  border-block-end: 1px solid #eee;
  padding: var(--spacer-normal);
}

.selection-list .content {
  padding: var(--spacer-normal);
}

.selection-list [data-state="focused"] {
  margin-block: 20px;
  box-shadow: 0 0 6px rgb(0 0 0 / 16%), 0 6px 12px rgb(0 0 0 / 32%);
}

.selection-list [data-state="unstyled"] {
  border: 0;
}

.sidebar {
  --color-background-primary: var(--color-primary-lighter);
  --wrapper-background: var(--color-gray-light);

  position: absolute;
  padding: 0;
  right: 0;
  z-index: 1000;
  inline-size: 70%;
  box-shadow: -10px 10px 20px 0 var(--color-primary);
}

.sidebar header {
  --focus-color: var(--color-primary-darkest);
}

.sidebar footer {
  border-top: 1px solid var(--color-gray);
}

.sidebar a, .sidebar button {
  font-size: 16px;
  font-weight: var(--fw-bold);
  text-decoration: underline;
  text-underline-offset: 2px;
  padding-block: 0;

  &:hover {
    color: var(--color-link-hover);
    text-decoration: underline;

    svg {
      color: var(--color-link);
    }
  }

  svg {
    color: var(--color-link);
    vertical-align: text-bottom;
    margin-block-end: -2px;
  }
}

.sidebar a {
  margin-inline-start: var(--pf-v5-global--spacer--md);

  // Keep links and buttons labels aligned by adding the same margin than
  // .pf-v5-c-button__icon.pf-m-start
  svg {
    margin-inline-end: var(--pf-v5-global--spacer--xs);
  }
}

// Remove not wanted PatternFly padding left on a loading link
.sidebar button.pf-m-progress {
  --pf-v5-c-button--m-progress--PaddingLeft: var(--pf-v5-global--spacer--md);
}

.sidebar button.pf-m-progress + div {
  padding-inline-start: calc(var(--pf-v5-global--spacer--md));
}

.sidebar[data-state="hidden"] {
  transition: all 0.04s ease-in-out;
  inline-size: 0;
  box-shadow: none;
}

.sidebar[data-state="visible"] {
  transition: all 0.2s ease-in-out;
}

.disclosure > button {
  margin-inline-start: var(--pf-v5-global--spacer--md);
  display: inline-flex;
  align-items: center;
  // Keep links and buttons labels aligned by adding the same margin than
  // .pf-v5-c-button__icon.pf-m-start
  svg {
    margin-inline-end: var(--pf-v5-global--spacer--xs);
    transition: transform 0.2s ease-in-out;
  }

  &[aria-expanded="true"] {
    svg {
      transform: rotate(90deg);
    }
  }

  &[aria-expanded="false"] + div {
    display: none;
    visibility: hidden;
  }
}

.disclosure > div {
  margin-inline-start: calc(
    var(--pf-v5-global--spacer--md) + 12px // half of the icon size;
  );
  border-inline-start: 1px solid var(--color-primary-lighter);
  padding-block: var(--spacer-small);
}

// raw file content with formatting similar to <pre>
.filecontent {
  font-family: var(--ff-code);
  font-size: 90%;
  word-break: break-all;
  white-space: pre-wrap;
}

// Make progress more compact
.dasd-format-progress {
  .pf-v5-c-progress {
    --pf-v5-c-progress--GridGap: var(--spacer-small);
  }
}

// temporary fix during migration
.page-options > li {
  min-inline-size: 150px;
}

.page-options > button {
  --pf-v5-c-button--PaddingRight: 0
}

.page-options a {
  font-size: 16px;
  font-weight: var(--fw-bold);
  text-decoration: none;

  svg {
    color: inherit;
  }

  &:hover {
    color: var(--color-link-hover);

    svg {
      color: var(--color-link);
    }
  }
}

span.notification-mark {
  --nm-border-width: 0;
  --nm-border-color: transparent;
  --nm-border: var(--nm-border-width) solid var(--nm-border-color);
  --nm-size: 8px;
  --nm-margin-inline: var(--nm-size, 5px);
  --nm-display: inline-block;
  --nm-color: #00BFFF; //deepskyblue

  margin-inline: var(--nm-margin-inline);
  display: var(--nm-display);
  background: var(--nm-color);
  border: var(--nm-border);
  width: var(--nm-size);
  height: var(--nm-size);
  border-radius: 999px;
}

span.notification-mark[data-variant="sidebar"] {
  --nm-size: calc(var(--fs-base) + var(--nm-border-width));
  --nm-display: initial;
  --nm-border-width: 2px;
  --nm-border-color: var(--color-primary);
  --nm-margin-inline: 0;

  position: absolute;
  right: 0;
}

.issue {
  --icon-size: 1rem;

  div:first-child {
    svg {
      width: var(--icon-size);
      height: var(--icon-size);
    }
  }

  div:nth-child(2) {
    padding-left: calc(var(--icon-size) + var(--pf-v5-c-helper-text__item-icon--MarginRight));
  }
}

.device-selector {
  [role="option"] {
    cursor: pointer;
    padding: var(--spacer-normal);
    border: 2px solid var(--color-gray-dark);
    background: var(--color-gray-light);

    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    display: grid;

    gap: var(--spacer-small);
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-areas:
      "type-and-size drive-info drive-content"
    ;

    > :first-child {
      align-self: center;
      text-align: center;
      justify-self: start;
    }
  }

  [aria-selected] {
    border: 2px solid var(--color-primary);
    box-shadow: 0 2px 5px 0 var(--color-gray-dark);
    background: var(--color-primary);
    color: white;
    font-weight: 700;

    svg {
      fill: white;
    }
  }
}

// compact lists in popover
.pf-v5-c-popover li + li {
  margin: 0;
}

.radio-group {
  .pf-v5-c-radio {
    position: relative;
    padding-block-end: var(--spacer-small);
    padding-inline-end: var(--spacer-small);

    &.selected::after {
      --arrow-size: var(--spacer-small, 10px);

      content:'';
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 0;
      height: 0;
      border-bottom: solid var(--arrow-size) var(--color-gray);
      border-left: solid var(--arrow-size) transparent;
      border-right: solid var(--arrow-size) transparent;
    }
  }
}

.highlighted-live-region {
  padding: 10px;
  background: var(--color-gray);
}

.size-input-group {
  max-inline-size: 20ch;

  input {
    text-align: end;
  }
}
