// CSS rules used for the standard Agama section (core/Section.jsx)
// In the future we might add different section layouts by using data-variant attribute
// or similar strategy

// raw file content with formatting similar to <pre>
.filecontent {
  font-family: var(--ff-code);
  font-size: 90%;
  word-break: break-all;
  white-space: pre-wrap;
}

// Make progress more compact
.dasd-format-progress {
  .pf-v5-c-progress {
    --pf-v5-c-progress--GridGap: var(--spacer-small);
  }
}

[data-type="agama/page-menu"] {
  > button {
    --pf-v5-c-button--PaddingRight: 0
  }

  a {
    font-weight: var(--fw-bold);
    text-decoration: none;

    svg {
      color: inherit;
    }

    &:hover {
      color: var(--color-link-hover);

      svg {
        color: var(--color-link);
      }
    }
  }
}

.issue {
  --icon-size: 1rem;

  div:first-child {
    svg {
      width: var(--icon-size);
      height: var(--icon-size);
    }
  }

  div:nth-child(2) {
    padding-left: calc(var(--icon-size) + var(--pf-v5-c-helper-text__item-icon--MarginRight));
  }
}

ul[data-type="agama/list"] {
  list-style: none;
  margin-inline: 0;

  li {
    border: 2px solid var(--color-gray-dark);
    padding: var(--spacer-small);
    text-align: start;
    background: var(--color-gray-light);
    margin-block-end: 0;

    &:nth-child(n+2) {
      border-top: 0;
    }

    &:not(:last-child) {
      border-bottom-width: 1px;
    }

    > div {
      margin-block-end: var(--spacer-smaller);
    }

    // Done in two rules instead of div:not(:last-child) to avoid specificity
    // problems later; see the storage-devices selector
    > div:last-child {
      margin-block-end: 0;
    }
  }

  // FIXME: see if it's semantically correct to mark an li as aria-selected when
  // not belongs to a listbox or grid list ul.
  li[aria-selected] {
    background: var(--color-gray-dark);

    &:not(:last-child) {
      border-bottom-color: white;
    }
  }
}

// These attributes together means that UI is rendering a selector
ul[data-type="agama/list"][role="grid"] {
  li[role="row"] {
    cursor: pointer;

    &:first-child {
      border-radius: 5px 5px 0 0;
    }

    &:last-child {
      border-radius: 0 0 5px 5px;
    }

    &:only-child {
      border-radius: 5px;
    }

    &:hover {
      &:not([aria-selected]) {
        background: var(--color-gray-dark);
      }

      &:not(:last-child) {
        border-bottom-color: white;
      }
    }

    div[role="gridcell"] {
      display: flex;
      align-items: center;
      gap: var(--spacer-small);

      input {
        --size: var(--fs-h2);
        cursor: pointer;
        block-size: var(--size);
        inline-size: var(--size);

        &[data-auto-selected] {
          accent-color: white;
          box-shadow: 0 0 1px;
        }
      }

      & > div:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--spacer-small);

        span {
          font-size: var(--fs-small);
          font-weight: bold;
        }
      }

      & > div:last-child {
        flex: 1;
      }
    }
  }
}

[data-items-type="agama/space-policies"] {
  // It works with the default styling
}

[data-items-type="agama/locales"] {
  display: grid;
  grid-template-columns: 1fr 2fr;

  > :last-child {
    grid-column: 1 / -1;
    font-size: var(--fs-small);
  }
}

[data-items-type="agama/keymaps"] {
  > :last-child {
    font-size: var(--fs-small);
  }
}

[data-items-type="agama/timezones"] {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;

  > :last-child {
    grid-column: 1 / -1;
    font-size: 80%;
  }

  > :nth-child(3) {
    color: var(--color-gray-dimmed);
    text-align: end;
  }
}

ul[data-items-type="agama/patterns"] {
  div[role="gridcell"] {
    & > div:first-child {
      min-width: 65px;
    }

    & > div:last-child * {
      margin-block-end: var(--spacer-small);
    }
  }
}

[role="dialog"] {
  .sticky-top-0 {
    position: sticky;
    top: calc(-1 * var(--pf-v5-c-modal-box__body--PaddingTop));
    margin-block-start: calc(-1 * var(--pf-v5-c-modal-box__body--PaddingTop));
    padding-block-start: var(--pf-v5-c-modal-box__body--PaddingTop);
    background-color: var(--pf-v5-c-modal-box--BackgroundColor);

    [role="search"] {
      width: 100%;
      padding: var(--spacer-small);
      border: 1px solid var(--color-primary);
      border-radius: 5px;
    }
  }
}

table[data-type="agama/tree-table"] {
  th:first-child {
    padding-inline-end: var(--spacer-normal);
  }

  /**
   * Temporary PF/Table overrides for small devices
   **/
  @media (width <= 768px) {
    &.pf-m-tree-view-grid-md.pf-v5-c-table tr[aria-level="1"] td {
      padding-inline-start: var(--spacer-medium);
    }

    &.pf-m-tree-view-grid-md.pf-v5-c-table tr[aria-level="2"] th {
      padding-inline-start: calc(var(--spacer-large) * 1.1);
    }

    &.pf-m-tree-view-grid-md.pf-v5-c-table tr[aria-level="2"] td {
      padding-inline-start: calc(var(--spacer-large) * 1.4);
    }

    &.pf-m-tree-view-grid-md.pf-v5-c-table tr:where(.pf-v5-c-table__tr).pf-m-tree-view-details-expanded {
      padding-block-end: var(--spacer-smaller);
    }

    &.pf-m-tree-view-grid-md.pf-v5-c-table tr:where(.pf-v5-c-table__tr) td:empty,
    &.pf-m-tree-view-grid-md.pf-v5-c-table tr:where(.pf-v5-c-table__tr) td *:empty,
    &.pf-m-tree-view-grid-md.pf-v5-c-table tr:where(.pf-v5-c-table__tr) td:has(> *:empty) {
      display: none;
    }

    &.pf-m-tree-view-grid-md.pf-v5-c-table tr:where(.pf-v5-c-table__tr) td:has(> *:not(:empty)) {
      display: inherit;
    }

    &.pf-m-tree-view-grid-md.pf-v5-c-table tbody:where(.pf-v5-c-table__tbody) tr:where(.pf-v5-c-table__tr)::before {
      inset-inline-start: 0;
    }

    &.pf-v5-c-table.pf-m-compact tr:where(.pf-v5-c-table__tr):not(.pf-v5-c-table__expandable-row) > *:last-child {
      padding-inline-end: 8px;
    }

    tbody th:first-child {
      font-size: var(--fs-large);
      padding-block-start: var(--spacer-small);
    }
  }
}

table.devices-table {
  tr.dimmed-row {
    background-color: #fff;
    opacity: 0.8;
    background: repeating-linear-gradient( -45deg, #fcfcff, #fcfcff 3px, #fff 3px, #fff 10px );

    td {
      color: var(--color-gray-dimmed);
      padding-block: 0;
    }
  }
}

table.proposal-result {
  @extend .devices-table;

  /**
   * Temporary hack because the collapse/expand callback was not given to the
   * tree table
   **/
  th button {
    display: none;
  }

  tbody th .pf-v5-c-table__tree-view-main {
    padding-inline-start: var(--pf-v5-c-table--m-compact--cell--first-last-child--PaddingLeft);
    cursor: auto;
  }

  tbody tr[aria-level="2"] th .pf-v5-c-table__tree-view-main {
    padding-inline-start: calc(
       var(--pf-v5-c-table--m-compact--cell--first-last-child--PaddingLeft) + var(--spacer-large)
    );
  }
  /** End of temporary hack */
}

// compact lists in popover
.pf-v5-c-popover li + li {
  margin: 0;
}

.radio-group {
  .pf-v5-c-radio {
    position: relative;
    padding-block-end: var(--spacer-small);
    padding-inline-end: var(--spacer-small);

    &.selected::after {
      --arrow-size: var(--spacer-small, 10px);

      content:'';
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 0;
      height: 0;
      border-bottom: solid var(--arrow-size) var(--color-gray);
      border-left: solid var(--arrow-size) transparent;
      border-right: solid var(--arrow-size) transparent;
    }
  }
}

.highlighted-live-region {
  padding: 10px;
  background: var(--color-gray);
}

.size-input-group {
  max-inline-size: 20ch;

  input {
    text-align: end;
  }

  select {
    min-inline-size: fit-content;
  }
}

[role="dialog"] {
  section:not([class^="pf-c"]) {
    > svg:first-child {
    block-size: 24px;
    inline-size: 24px;
    }

    h2 {
      font-size: var(--fs-h3);
    }
  }
}

[data-type="agama/expandable-selector"] {
  // The expandable selector is built on top of PF/Table#expandable
  // Let's tweak some styles
  tr {
    td:first-child {
      padding-inline-start: 0;
    }

    td:last-child {
      padding-inline-end: 0;
    }
  }

  tr.pf-v5-c-table__expandable-row.pf-m-expanded {
    border-bottom: 0;

    .pf-v5-c-table__expandable-row-content {
      font-size: var(--fs-medium);
      padding-block: var(--spacer-small);
    }
  }
}

[data-type="agama/field"] {
  > div:first-child {
    font-size: var(--fs-large);

    button {
      padding-inline: 0;
    }

    button:hover {
      color: var(--color-link-hover);
      fill: var(--color-link-hover);
    }

    button b, button:hover b {
      text-decoration: underline;
      text-underline-offset: var(--spacer-smaller);
    }

    div.pf-v5-c-skeleton {
      display: inline-block;
      vertical-align: middle;
      height: 1.5ex;
    }
  }

  > div:nth-child(n+2) {
    margin-inline-start: calc(var(--icon-size-s) + 1ch);
  }

  > div:nth-child(2) {
    color: gray;
    font-size: var(--fs-medium);
  }

  > div:nth-child(n+3) {
    margin-block-start: var(--spacer-small);
  }

  &.highlighted > div:last-child {
    --spacing: calc(var(--icon-size-s) / 2);
    margin-inline: var(--spacing);
    padding-inline: var(--spacing);
    border-inline-start: 2px solid;
  }

  &.highlighted.on > div:last-child {
    border-color: var(--color-link-hover);
  }

  &.highlighted.off > div:last-child {
    border-color: var(--color-gray-darker);
  }

  &.on {
    button:not(.password-toggler) {
      fill: var(--color-link-hover);
    }
  }

  hr {
    margin-block: var(--spacer-normal);
    border: 0;
    border-bottom: thin dashed var(--color-gray);
  }
}

[data-type="agama/field"] button.pf-v5-c-menu-toggle.pf-m-plain {
  padding: 0;
}

[data-type="agama/field"] .pf-v5-c-menu__list {
  padding: calc(var(--spacer-smaller) / 2) 0;
  margin: 0;
}

#boot-form {
  legend {
    label {
      font-size: var(--fs-large);
      font-weight: bold;
    }
  }
}
