.stack > :where(
  :not(legend, :last-child)) {
  margin-block-end: var(--stack-gutter);
}

.flex-stack {
  display: flex;
  flex-direction: column;
  align-items: start;
  @extend .stack;
}

.split {
  display: flex;
  align-items: center;
  gap: var(--split-gutter);
}

[data-items-alignment="start"] {
  align-items: start;
}

.wrapped {
  flex-wrap: wrap;
}

[data-state="reversed"] {
  flex-direction: row-reverse;
}

body > div[inert],
body > div[aria-hidden="true"],
div[data-type="agama/page-layout"] > [inert],
div[data-type="agama/page-layout"] > [aria-hidden="true"] {
  filter: grayscale(1) blur(2px);
}
