.stack > :where(
  :not(legend, :last-child)) {
  margin-block-end: var(--stack-gutter);
}

.flex-stack {
  display: flex;
  flex-direction: column;
  align-items: start;
  @extend .stack;
}

.split {
  display: flex;
  align-items: center;
  gap: var(--split-gutter);
}

.wrapped {
  flex-wrap: wrap;
}

[data-state="reversed"] {
  flex-direction: row-reverse;
}

div[aria-hidden="true"] {
  filter: grayscale(1) blur(2px);
}
