// Global CSS starts
body {
  line-height: var(--lh-normal);
  font-size: var(--fs-base);
  color: var(--color-text-primary);
  background: var(--color-gray);
  text-align: start;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: var(--ff-headlines);
  font-weight: var(--fw-bold);
}

h1 { font-size: var(--fs-h1); }
h2 { font-size: var(--fs-h2); }

a {
  color: currentcolor;
}

a,
// TODO: make it better, using PatternFly custom properties for overriding it
button.pf-m-plain,
button.pf-m-link {
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.2em;
  transition: all 0.15s ease-in-out;

  &:hover {
    color: var(--color-link-hover);
    text-decoration: underline;
  }
}

fieldset {
  padding: var(--fs-base);
  border: 0;
  border-top: 1px solid var(--color-gray);
  border-image: linear-gradient(45deg, var(--color-gray), transparent) 1;

  legend {
    padding-inline-end: var(--fs-base);
    margin-inline-start: calc(var(--fs-base) * -1);
  }
}

table {
  border-collapse: collapse;
}

th {
  text-align: start;
}

// Style focus making use of :focus-visible
*:focus {
  outline: none;
}

*:focus:not(:focus-visible) {
  box-shadow: none;
}

*:focus-visible {
  // outline: 1px dotted;
  // outline-offset: 0.25rem;
  box-shadow: 0 0 0 1px var(--focus-color);
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 5s;
}

@keyframes fade-in {
  from { opacity: 0; }
}

@keyframes fade-out {
  to { opacity: 0; }
}

@keyframes slide-to-bottom {
  to { transform: translateY(20px); }
}

@keyframes slide-from-bottom {
  from { transform: translateY(100%); }
}

@keyframes slide-from-top {
  from { transform: translateY(-30px); }
}

@keyframes slide-to-top {
  to { transform: translateY(-100%); }
}

@keyframes slide-from-left {
  from { transform: translateX(-70%); }
}

@keyframes slide-from-right {
  from { transform: translateX(70%); }
}

@keyframes slide-to-right {
  to {
    transform: translateX(100px);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-100px);
  }
}

header h1 {
  view-transition-name: page-title;
}

main {
  view-transition-name: page-content;
}

::view-transition-new(root),
::view-transition-old(root) {
  animation: none;
}

::view-transition-old(page-title) {
  animation: 30ms cubic-bezier(0.4, 0, 1, 1) 30ms both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-top;
}

::view-transition-new(page-title) {
  animation: 50ms cubic-bezier(0, 0, 0.2, 1) 250ms both fade-in,
    360ms cubic-bezier(0.4, 0, 0.2, 1) 100ms both slide-from-bottom;
}

::view-transition-old(page-content) {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(page-content) {
  animation: 110ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

.back-transition::view-transition-old(page-content) {
  animation-name: fade-out, slide-to-right;
}

.back-transition::view-transition-new(page-content) {
  animation-name: fade-in, slide-from-left;
}

.back-transition::view-transition-old(page-title) {
  animation-delay: 30ms;
  animation-duration: 150ms;
  animation-name: slide-to-bottom, fade-out;
}

.back-transition::view-transition-new(page-title) {
  animation-delay: 300ms;
  animation-name: fade-in, slide-from-top;
}
