// Global CSS starts
h1, h2, h3, h4, h5, h6 {
  // margin: 0;
  font-family: var(--ff-headlines);
  font-weight: var(--fw-bold);
}

h1 {
  font-size: var(--pf-v5-global--FontSize--2xl)
}

h2 {
  font-size: var(--pf-v5-global--FontSize--xl)
}

h3 {
  font-size: var(--pf-v5-global--FontSize--lg)
}

h4 {
  font-size: var(--pf-v5-global--FontSize--md)
}

a {
  color: currentcolor;
}

a,
// TODO: make it better, using PatternFly custom properties for overriding it
button.pf-m-plain,
button.pf-m-link {
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.2em;
  transition: all 0.15s ease-in-out;

  &:hover {
    color: var(--color-link-hover);
  }
}

fieldset {
  padding: var(--fs-base);
  border: 0;
  border-top: 1px solid var(--color-gray);
  border-image: linear-gradient(45deg, var(--color-gray), transparent) 1;

  legend {
    padding-inline-end: var(--fs-base);
    margin-inline-start: calc(var(--fs-base) * -1);
  }
}

table {
  border-collapse: collapse;
}

th {
  text-align: start;
}

svg {
  vertical-align: middle;
}

li {
  svg {
    vertical-align: middle;
  }
}

// Style focus making use of :focus-visible
*:focus {
  outline: none;
}

*:focus:not(:focus-visible) {
  box-shadow: none;
}

*:focus-visible {
  // outline: 1px dotted;
  // outline-offset: 0.25rem;
  box-shadow: 0 0 0 1px var(--focus-color);
}
