// PatternFly overrides
@use "~/assets/styles/patternfly-overrides.scss";

@use "~/assets/fonts.scss";
@use "~/assets/styles/variables.scss";
// TODO: merge app and global
@use "~/assets/styles/global.scss";
@use "~/assets/styles/app.scss";
@use "~/assets/styles/utilities.scss";
@use "~/assets/styles/composition.scss";
@use "~/assets/styles/blocks.scss";

