#d-installer {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    'header'
    'content'
    'footer'
  ;
  overflow: hidden;
  height: 100dvb;
  block-size: 100dvb;
  max-inline-size: 1024px;
  margin-inline: auto;
  background: white;

  svg {
    fill: currentColor;
    vertical-align: middle;
  }
}

#d-installer > * {
  padding: var(--spacer-normal);
}

#d-installer > header {
  --color-button-plain-link: white;
  --color-button-plain-link-hover: #fcfcfc;

  grid-area: header;
  background: var(--color-primary-darkest);
  color: var(--color-text-secondary);
}

#d-installer > main {
  grid-area: content;
  overflow-y: auto; // Sadly, only Firefox supports oerflow-block at this moment (Jan 2023)
  overflow-block: auto;
  padding: var(--spacer-medium);
}

#d-installer > footer {
  grid-area: footer;
}

#d-installer > footer >img {
  max-inline-size: 150px;
}
