.justify-between {
  justify-content: space-between;
}

// Sadly, Firefox does not support :has pseudo-selector yet.
// See @components/layout/Center documentation.
//
// main:has(.vertically-centered) {
//   display: grid;
//   place-items: center;
//   block-size: 100%;
// }

//.content-block-centered {
.vertically-centered {
  display: grid;
  place-items: center;
  block-size: 100%;
  inline-size: 100%;
}

.horizontally-centered {
  inline-size: 100%;
  margin-inline: 0 auto;
  text-align: center;
}

.bold {
  font-weight: bold;
}

.icon-size-10 {
  width: 10px;
  height: 10px;
}

.icon-size-12 {
  width: 12px;
  height: 12px;
}

.icon-size-14 {
  width: 14px;
  height: 14px;
}

.icon-size-15 {
  width: 15px;
  height: 15px;
}

.icon-size-16 {
  width: 16px;
  height: 16px;
}

.icon-size-24 {
  width: 24px;
  height: 24px;
}

.icon-size-32 {
  width: 32px;
  height: 32px;
}

.icon-big {
  inline-size: 10rem;
  block-size: 10rem;
}

.color-warn {
  color: var(--color-warn);
}

.color-success {
  color: var(--color-success);
}

.full-width {
  inline-size: 100%;
}

.full-size {
  width: 100%;
  height: 100%;
}

.transform-on-hover {
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.4);
    color: var(--color-primary-darkest);
  }
}

.gradient-border-bottom {
  border-bottom: 1px solid #efefef;
  border-image: linear-gradient(
    var(--gradient-border-angle),
    var(--gradient-border-start-color),
    var(--gradient-border-end-color)
  ) 1;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.shadow {
  box-shadow: 0 0 10px 0 var(--color-gray-darker);
}

.top-shadow {
  box-shadow: 0 5px 10px 0 var(--color-gray-darker);
}

.bottom-shadow {
  box-shadow: 0 -3px 10px 0 var(--color-gray-darker);
}

.plain-control {
  position: relative;
  background: none;
  border: none;
}

.plain-button {
  border: none;
  background: none;
  color: inherit;
  font: inherit;
  padding: 0;
}

.no-stack-gutter {
  --stack-gutter: 0;
}

.large {
  /** block-size fallbacks **/
  height: 95dvh;
  width: 95dvw;
  max-width: calc(var(--ui-max-inline-size) + var(--spacer-large));
  /** END block-size fallbacks **/
  block-size: 95dvh;
  inline-size: 95dvw;
  max-inline-size: calc(var(--ui-max-inline-size) + var(--spacer-large))
}
