// Sadly, Firefox does not support :has pseudo-selector yet.
// See @components/layout/Center documentation.
//
// main:has(.vertically-centered) {
//   display: grid;
//   place-items: center;
//   block-size: 100%;
// }

//.content-block-centered {
.vertically-centered {
  display: grid;
  place-items: center;
  block-size: 100%;
  inline-size: 100%;
}

// Utility classes for sizing icons
.icon-xxxs {
  block-size: var(--icon-size-xxxs);
  inline-size: var(--icon-size-xxxs);
}

.icon-xxs {
  block-size: var(--icon-size-xxs);
  inline-size: var(--icon-size-xxs);
}

.icon-xs {
  block-size: var(--icon-size-xs);
  inline-size: var(--icon-size-xs);
}

.icon-s {
  block-size: var(--icon-size-s);
  inline-size: var(--icon-size-s);
}

.icon-xl {
  block-size: var(--icon-size-xl);
  inline-size: var(--icon-size-xl);
}

.icon-xxl {
  block-size: var(--icon-size-xxl);
  inline-size: var(--icon-size-xxl);
}

.icon-xxxl {
  block-size: var(--icon-size-xxxl);
  inline-size: var(--icon-size-xxxl);
}

.color-success {
  color: var(--color-success);
  fill: var(--color-success);
}

.full-width {
  inline-size: 100%;
}

.full-size {
  width: 100%;
  height: 100%;
}

.transform-on-hover {
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.4);
    color: var(--color-primary-darkest);
  }
}

.gradient-border-bottom {
  border-bottom: 1px solid #efefef;
  border-image: linear-gradient(
    var(--gradient-border-angle),
    var(--gradient-border-start-color),
    var(--gradient-border-end-color)
  ) 1;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.shadow {
  box-shadow: 0 0 10px 0 var(--color-gray-darker);
}

.top-shadow {
  box-shadow: 0 5px 10px 0 var(--color-gray-darker);
}

.bottom-shadow {
  box-shadow: 0 -3px 10px 0 var(--color-gray-darker);
}

.plain-control {
  position: relative;
  background: none;
  border: none;
}

.plain-button {
  border: none;
  background: none;
  color: inherit;
  font: inherit;
  padding: 0;
  text-align: start;
}

.inline-flex-button{
  @extend .plain-button;
  display: inline-flex;
  align-items: center;
  gap: 0.7ch;
  text-decoration: underline;
}

.p-0 {
  padding: 0;
}

.block-size-auto {
  block-size: auto;
}


.inline-size-auto {
  inline-size: auto;
}

.block-size-small,
.block-size-medium,
.block-size-large {
  block-size: calc(100dvb - var(--space-large));
}

.inline-size-small,
.inline-size-medium,
.inline-size-large {
  inline-size: calc(100dvi - var(--spacer-large));
}

@media (height > 500px) {
  .block-size-small {
    block-size: 30dvb;
  }

  .block-size-medium {
    block-size: 60dvb;
  }

  .block-size-large {
    block-size: 90dvb;
  }
}

@media (width > 500px) {
  .inline-size-small,
  .inline-size-medium,
  .inline-size-large {
    min-inline-size: calc(500px - var(--spacer-large));
  }

  .inline-size-small {
    inline-size: 30dvi;
  }

  .inline-size-medium {
    inline-size: 60dvi;
    max-inline-size: var(--ui-max-inline-size);
  }

  .inline-size-large {
    inline-size: 90dvi;
    max-inline-size: calc(var(--ui-max-inline-size) * 2);
  }
}

.large {
  /** block-size fallbacks **/
  height: 95dvh;
  width: 95dvw;
  max-width: calc(var(--ui-max-inline-size) + var(--spacer-large));
  /** END block-size fallbacks **/
  block-size: 95dvh;
  inline-size: 95dvw;
  max-inline-size: calc(var(--ui-max-inline-size) + var(--spacer-large))
}

.scrollbox {
  background:
    linear-gradient(#fff 33%, rgb(255 255 255 / 0%)),
    linear-gradient(rgb(255 255 255 / 0%), #fff 66%) 0 100%,
    radial-gradient(farthest-side at 50% 0, rgb(102 102 102 / 50%), rgb(0 0 0 / 0%)),
    radial-gradient(farthest-side at 50% 100%, rgba(102 102 102 / 50%), rgb(0 0 0 / 0%)) 0 100%;
  background-color: #fff;
  background-repeat: no-repeat;
  background-attachment: local, local, scroll, scroll;
  background-size: 100% 48px, 100% 48px, 100% 16px, 100% 16px;
}

.height-75 {
  height: 75dvh;
}

// FIXME: drop as soon as Tip component gets rethought / refactored
.label-tip .pf-v5-c-label__text {
  display: flex;
  gap: var(--spacer-smaller);
}

.no-padding {
  padding: 0;
}
