$bc-gray-50: #f2f2f2; //rgb(242, 242, 242);
$bc-cerulean-500: #00b2e2; //rgb(0, 178, 226);
$bc-gray-900: #686565; //rgb(104, 101, 101);
$bc-gray-1000: #141823; //rgb(20, 24, 35);
$bc-green-500: #30ba78; //rgb(48, 186, 120);
$bc-green-900: #0e7e3c; //rgb(14, 126, 60);
$bc-pine-500: #0c322c; //rgb(12, 50, 44);

:root {
  --color-core-brand: #30BA78; // Jungle Green
  --color-core-primary: #0C322C; // Pine Green
  --color-core-secondary: #192072; // Midnight Blue
  --color-core-tertiary: #90EBCD; // Midnight Blue

  --color-background-primary: var(--color-core-primary);
  --color-background-secondary: #EFEFEF; // Fog

  --color-text-primary: var(--color-core-primary);
  --color-text-secondary: #EFEFEF;

  --space-s: .5em;
  --space-m: 1em;
  --space-l: 1.5em;
}
