[Unit]
Description=Agama self-update

After=network-online.target

# and after we process agama params like info which can contain password
After=agama-cmdline-process.service

# before starting the Agama servers so they use the new packages
Before=agama-web-server.service
Before=agama.service
# before interactive password services
Before=live-password-dialog.service
Before=live-password-systemd.service

[Service]
Type=oneshot
Environment=TERM=linux
ExecStartPre=dmesg --console-off
ExecStart=agama-self-update
ExecStartPost=dmesg --console-on
TTYReset=yes
TTYVHangup=yes
StandardInput=tty
TimeoutStartSec=infinity

[Install]
WantedBy=multi-user.target
