[Unit]
Description=Interactive network configuration in initrd
DefaultDependencies=no

# see https://man7.org/linux/man-pages/man7/dracut.bootup.7.html
# for the dependency order of the dracut services

# after NetworkManager is started
After=network.target
# before running the pre-pivot dracut hooks (before the driver update)
# and before the self-update
Before=dracut-pre-pivot.service live-self-update.service

ConditionKernelCommandLine=live.net_config=1

[Service]
Type=oneshot

# disable the kernel output on the console
ExecStartPre=dmesg --console-off
# disable the systemd status messages on the console
ExecStartPre=kill -SIGRTMIN+21 1
# hide plymouth animation (unfortunately nmtui does not run correctly with simple "plymouth
# hide-splash", we need to disable it completely and then start again)
ExecStartPre=plymouth quit

ExecStart=initrd-network-setup.sh

# enable back the kernel output on the console
ExecStartPost=dmesg --console-on
# enable back the systemd status messages on the console
ExecStartPost=kill -SIGRTMIN+20 1
# show plymouth animation back if it was enabled
ExecStartPost=bash -c "grep -q splash=silent /proc/cmdline && /usr/sbin/plymouthd --mode=boot --pid-file=/run/plymouth/pid --attach-to-session && /usr/bin/plymouth show-splash"

Environment=TERM=linux

StandardInput=tty
StandardOutput=tty
TimeoutStartSec=infinity
RemainAfterExit=true

[Install]
WantedBy=initrd.target
