[Unit]
Description=Agama Proxy Configuration
Before=agama.service
Wants=local-fs.target

[Service]
ExecStart=/usr/bin/agama-proxy-setup
Type=oneshot
User=root

[Install]
WantedBy=multi-user.target
