[Unit]
Description=Agama Web Server
After=network-online.target agama.service agama-hostname.service

[Service]
Type=simple
ExecStart=/usr/bin/agama-web-server serve --address :::80 --address2 :::443 --generate-token /run/agama/token
PIDFile=/run/agama/web.pid
User=root
TimeoutStopSec=5

[Install]
WantedBy=default.target
