[Unit]
Description=Agama Web Server
After=network-online.target agama.service

[Service]
Type=simple
ExecStart=/usr/bin/agama-web-server serve --address 0.0.0.0:80 --address2 0.0.0.0:443 --generate-token /run/agama/token
PIDFile=/run/agama/web.pid
User=root
TimeoutStopSec=5

[Install]
WantedBy=default.target
