[package]
name = "agama-network"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
agama-lib = { path="../agama-lib" }
async-std = { version = "1.12.0", features = ["attributes"] }
