// See https://github.com/patternfly/patternfly/pull/4297

h1, h2, h3, h4, h5 {
  margin: 0;
}

body {
  background: #ccc;
}

#d-installer {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    'header'
    'content'
    'footer'
  ;
  overflow: hidden;
  height: 100dvb;
  block-size: 100dvb;
  background: white;

  svg {
    fill: currentColor;
    vertical-align: middle;
  }
}

#d-installer > * {
  padding: var(--space-m) var(--space-s);
}

@media (width > 50em) {
  #d-installer {
    max-inline-size: 50em;
    margin-inline: auto;
  }
}

// utility, stand for "margin-inline-end-small";
.mie-s {
  margin-inline-end: var(--space-s);
}

#d-installer > header {
  grid-area: header;
  background: var(--color-background-primary);
  color: var(--color-text-secondary);
}

#d-installer > main {
  grid-area: content;
  overflow-y: auto; // Sadly, only Firefox supports oerflow-block at this moment (Jan 2023)
  overflow-block: auto;
  padding: var(--space-l);
}

#d-installer > footer {
  grid-area: footer;
}

.flow-flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flow-flex-row[data-state='reversed'] {
  flex-direction: row-reverse;
}
