// NOTE: eos-base/index imports a lot of styles not needed by now.
// What is more, EOS is using @import instead of @use, which is the
// preferred one. Read "What's Wrong With @import?" at
// https://sass-lang.com/documentation/at-rules/import
// This block us from importing them granularly as needed because some
// SCSS EOS modules contains variables from others, making the tools
// fail. For example, it's the case of titles.scss, which uses a variable
// from branding.scss. Although we @use it here, the titles.scss
// cant find the variable because it is namespaced with "branding.".
//
// So, by now we will do our best, and maybe send a fix to mainstream.
//
// Another option is to investigate if there is a way to purge or
// "tree-shake" CSS while building to import the whole package without
// worrying about packaging more than needed. This, however, might not help
// while working in development mode.

// @import "eos-ds/dist/scss/eos-base/index.scss";
@use "eos-ds/dist/scss/eos-base/variables/branding.scss";

// Note: for this particular case, we are not using
// @use "eos-ds/dist/scss/eos-base/variables/typography.scss"
// because it imports fonts from googleapis, external source.
// Instead, we use @fontsource to import them from local sources in main.jsx
$base: Lato, arial, helvetica, sans-serif;
$headlines: Poppins, san-serif;
$code: 'Roboto Mono', monospace;
$font-size-base: 14px;
$line-height: 1.5rem;

:root {
  // Overrides some PatternFly CSS variables for using values
  // provided or suggested by EOS Design System.
  //
  // See more at
  //   - https://eosdesignsystem.herokuapp.com
  //   - https://gitlab.com/SUSE-UIUX/eos-ds-npm/
  //   - https://github.com/mcoker/patternfly/blob/main/src/patternfly/base/_variables.scss

  // Font families
  --pf-global--FontFamily--sans-serif: #{$base};
  --pf-global--FontFamily--heading--sans-serif: #{$headlines};
  --pf-global--FontFamily--monospace: #{$code};
  --pf-global--FontFamily--redhat-updated--sans-serif: #{base};
  --pf-global--FontFamily--redhat-updated--heading--sans-serif: #{$headlines};
  --pf-global--FontFamily--redhat--monospace: #{$code};
  --pf-global--FontFamily--redhatVF--sans-serif: #{base};
  --pf-global--FontFamily--redhatVF--heading--sans-serif: #{$headlines};
  --pf-global--FontFamily--redhatVF--monospace: #{$code};
  --pf-global--FontFamily--overpass--sans-serif: #{base};
  --pf-global--FontFamily--overpass--monospace: #{$code};

  // Font size
  // Based on sizes of EOS headings.
  // See "eos-ds/dist/scss/eos-base/variables/titles.scss";
  --pf-global--FontSize--4xl: 2em;
  --pf-global--FontSize--3xl: 1.75em;
  --pf-global--FontSize--2xl: 1.5em;
  --pf-global--FontSize--xl: 1.3em;
  --pf-global--FontSize--lg: 1.15em;
  --pf-global--FontSize--md: #{$font-size-base};
  // TODO: find equivalences for sm and xs
  // --pf-global--FontSize--sm: #{$pf-global--FontSize--sm};
  // --pf-global--FontSize--xs: #{$pf-global--FontSize--xs};

  // Font weight
  --pf-global--FontWeight--light: 300;
  --pf-global--FontWeight--normal: 400;
  --pf-global--FontWeight--semi-bold: 400;
  --pf-global--FontWeight--overpass--semi-bold: 400;
  --pf-global--FontWeight--bold: 700;
  --pf-global--FontWeight--overpass--bold: 700;

  // Colors
  --pf-global--primary-color--100: #{branding.$eos-bc-green-500};
  --pf-global--primary-color--200: #{branding.$eos-bc-green-900};
  --pf-global--link--Color: var(--pf-global--primary-color--100);
  --pf-global--link--Color--hover: var(--pf-global--primary-color--200);
  --pf-global--BackgroundColor--dark-100: #{branding.$eos-bc-pine-500};
}

// Style focus as proposed by EOS
// https://eosdesignsystem.herokuapp.com/focus#scss-code
*:focus {
 box-shadow: 0 0 0 1px branding.$eos-bc-cerulean-500;
 outline: none;
}

// NOTE: commented it out because looks like those
// sizes makes the headings too big
// // See "eos-ds/dist/scss/eos-base/variables/titles.scss";
// // and comment at the begining
// $eos-h1-font-size: 2em;
// $eos-h2-font-size: 1.75em;
// $eos-h3-font-size: 1.5em;
// $eos-h4-font-size: 1.3em;
// $eos-h5-font-size: 1.15em;
// $eos-h6-font-size: 1em;
// $eos-font-weight-headers-bold: 500;

// .pf-c-content {
//   // Content headings size
//   --pf-c-content--h1--FontSize: #{$eos-h1-font-size};
//   --pf-c-content--h2--FontSize: #{$eos-h2-font-size};
//   --pf-c-content--h3--FontSize: #{$eos-h3-font-size};
//   --pf-c-content--h4--FontSize: #{$eos-h4-font-size};
//   --pf-c-content--h5--FontSize: #{$eos-h5-font-size};
//   --pf-c-content--h6--FontSize: #{$eos-h6-font-size};
// }

body {
  text-align: start;
  color: branding.$eos-bc-gray-1000;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headlines;
  font-weight: 500;
}

h1, h2, h3 {
  margin-block-start: 20px;
  margin-block-end: 10px;
}

h4, h5, h6 {
  margin-block-start: 10px;
  margin-block-end: 10px;
}

#root {
  min-block-size: 100vh;
  background-color: branding.$eos-bc-gray-50;
}

.installation-overview-section {
  border-block-end: 1px solid branding.$eos-bc-gray-100;
  padding-block-end: 1rem;

  &:last-child {
    border-block-end: none;
  }

  // FIXME: look for a better approach about this.
  // It overrides inline paddings for "button links" since using "isInline" prop
  // is not an option becaue it removes block margins too.
  .pf-m-link {
    padding-inline: 0;
  }
}

.loading-screen-icon {
  text-align: center;

  svg {
    block-size: 10rem;
    inline-size: 10rem;
  }
}

.success-icon {
  fill: branding.$eos-bc-green-500;
}

// Make proposal actiosn compact
.proposal-actions li + li {
  margin-block-start: 0;
}

.proposal-action--delete {
  font-weight: bold
}

// Align the expandable-actions with the actions list
// See https://www.patternfly.org/v4/components/list#css-variables
.expandable-actions {
  margin-inline-start: calc(
    var(--pf-global--spacer--lg) // --pf-c-list--PaddingLeft
    - var(--pf-global--spacer--sm) // --pf-c-list--nested--MarginLeft
    - var(--pf-global--icon--FontSize--sm) // --pf-c-list--m-icon-lg__item-icon-MinWidth
  );
}

.expandable-actions > div {
  margin-block-start: 0;
}

.overview-users > div {
  margin-block-start: 0.5ex;
}
