// NOTE: eos-base/index imports a lot of styles not needed by now.
// What is more, EOS is using @import instead of @use, which is the
// preferred one. Read "What's Wrong With @import?" at
// https://sass-lang.com/documentation/at-rules/import
// This block us from importing them granularly as needed because some
// SCSS EOS modules contains variables from others, making the tools
// fail. For example, it's the case of titles.scss, which uses a variable
// from branding.scss. Although we use @use here, the titles.scss
// can't find the variable because it is namespaced with "branding.".
//
// So, by now we will do our best, and maybe send a fix to mainstream.
//
// Another option is to investigate if there is a way to purge or
// "tree-shake" CSS while building to import the whole package without
// worrying about packaging more than needed. This, however, might not help
// while working in development mode.

// @import "eos-ds/dist/scss/eos-base/index.scss";
@use "eos-ds/dist/scss/eos-base/variables/branding.scss";

// D-Installer fonts
@use "assets/fonts.scss";

// Style focus as proposed by EOS
// https://eosdesignsystem.herokuapp.com/focus#scss-code
// but making use of :focus-visible, see https://matthiasott.com/notes/focus-visible-is-here
*:focus {
  outline: none;
}

*:focus:not(:focus-visible) {
  box-shadow: none;
}

*:focus-visible {
  box-shadow: 0 0 0 1px branding.$eos-bc-cerulean-500;
}

// Adds a tiny "padding" when focusing a primary or secondary action to avoid
// https://github.com/yast/d-installer/issues/115#issuecomment-1087375598
.pf-c-button.pf-m-primary:focus-visible,
.pf-c-button.pf-m-secondary:focus-visible {
  box-shadow: 0 0 0 1px white, 0 0 0 2px branding.$eos-bc-cerulean-500;
}

// NOTE: commented it out because looks like those
// sizes makes the headings too big
// // See "eos-ds/dist/scss/eos-base/variables/titles.scss";
// // and comment at the begining
// $eos-h1-font-size: 2em;
// $eos-h2-font-size: 1.75em;
// $eos-h3-font-size: 1.5em;
// $eos-h4-font-size: 1.3em;
// $eos-h5-font-size: 1.15em;
// $eos-h6-font-size: 1em;
// $eos-font-weight-headers-bold: 500;

// .pf-c-content {
//   // Content headings size
//   --pf-c-content--h1--FontSize: #{$eos-h1-font-size};
//   --pf-c-content--h2--FontSize: #{$eos-h2-font-size};
//   --pf-c-content--h3--FontSize: #{$eos-h3-font-size};
//   --pf-c-content--h4--FontSize: #{$eos-h4-font-size};
//   --pf-c-content--h5--FontSize: #{$eos-h5-font-size};
//   --pf-c-content--h6--FontSize: #{$eos-h6-font-size};
// }

body {
  text-align: start;
  color: branding.$eos-bc-gray-1000;
}

h1, h2, h3, h4, h5, h6 {
  font-family: fonts.$headlines;
  font-weight: 500;
}

h1, h2, h3 {
  margin-block-start: 20px;
  margin-block-end: 10px;
}

h4, h5, h6 {
  margin-block-start: 10px;
  margin-block-end: 10px;
}

p {
  margin-block-start: fonts.$size-base;
}

#root {
  min-block-size: 100vh;
  background-color: branding.$eos-bc-gray-50;
}

.installation-overview-section {
  padding-block-end: 1rem;

  // FIXME: look for a better approach about this.
  // It overrides inline paddings for "button links" since using "isInline" prop
  // is not an option becaue it removes block margins too.
  .pf-m-link {
    padding-inline: 0;
  }

  p {
    margin-block-start: 0;
  }
}

.loading-screen-icon {
  text-align: center;

  svg {
    block-size: 10rem;
    inline-size: 10rem;
  }
}

.success-icon {
  fill: branding.$eos-bc-green-500;
}

// Make proposal actiosn compact
.proposal-actions li + li {
  margin-block-start: 0;
}

.proposal-action--delete {
  font-weight: bold
}

// Align the expandable-actions with the actions list
// See https://www.patternfly.org/v4/components/list#css-variables
.expandable-actions {
  margin-inline-start: calc(
    var(--pf-global--spacer--lg) // --pf-c-list--PaddingLeft
    - var(--pf-global--spacer--sm) // --pf-c-list--nested--MarginLeft
    - var(--pf-global--icon--FontSize--sm) // --pf-c-list--m-icon-lg__item-icon-MinWidth
  );
}

.expandable-actions > div {
  margin-block-start: 0;
}

.overview-users > div {
  margin-block-start: 0.5ex;
}

// Using a "selected-product" CSS class because sadly we cannot use
// ".pf-c-card:has(> input[type="radio"]:checked)" yet
//
// See:
//   - https://drafts.csswg.org/selectors/#relational
//   - https://caniuse.com/css-has
.pf-c-card.selected-product {
  //border: 1px solid branding.$eos-bc-green-500;
  --pf-c-card--BoxShadow: var(--pf-global--BoxShadow--md);

  .pf-c-radio {
    // https://drafts.csswg.org/css-ui/#widget-accent
    // https://caniuse.com/mdn-css_properties_accent-color
    accent-color: branding.$eos-bc-pine-500;
  }

  .pf-c-radio__label {
    color: branding.$eos-bc-green-500;
    font-weight: bold;
  }

  .pf-c-radio__description {
    color: branding.$eos-bc-pine-500;
  }
}

.installer-skeleton {
  margin-block-start: 1em;
}

.hidden {
  visibility: hidden;
}

.host-ip {
  vertical-align: middle;
  color: branding.$eos-bc-gray-900;
}

ul.connections-datalist {
  border: 0;
  li {
    border: 0;
  }
}
