// Import PatternFly CSS
@use "@patternfly/react-core/dist/styles/base.css";
@use "@patternfly/patternfly/patternfly.css";

// See https://github.com/patternfly/patternfly/pull/4297
@use "@patternfly/react-styles/css/utilities/Sizing/sizing.css";

// NOTE: eos-base/index imports a lot of styles not needed by now. Hence, let's
// start importing them granularly until we have time to investigate how to purge
// or "tree-shake" CSS while building (although it might not help while working
// in development mode)

// @import "eos-ds/dist/scss/eos-base/index.scss";
@use "eos-ds/dist/scss/eos-base/variables/branding.scss";

// Overrides some PatternFly variables using EOS Design System colors
// See more at https://github.com/mcoker/patternfly/blob/main/src/patternfly/base/_variables.scss and
// https://gitlab.com/SUSE-UIUX/eos-ds-npm/
:root {
  --pf-global--primary-color--100: #{branding.$eos-bc-green-500};
  --pf-global--primary-color--200: #{branding.$eos-bc-green-900};
  --pf-global--link--Color: var(--pf-global--primary-color--100);
  --pf-global--link--Color--hover: var(--pf-global--primary-color--200);
  --pf-global--BackgroundColor--dark-100: #{branding.$eos-bc-pine-500};
}

body {
  text-align: start;
}

#root {
  min-block-size: 100vh;
  background-color: branding.$eos-bc-gray-50;
}

.installation-overview-section {
  border-block-end: 1px solid branding.$eos-bc-gray-100;
  padding-block-end: 1rem;

  &:last-child {
    border-block-end: none;
  }

  // FIXME: look for a better approach about this.
  // It overrides inline paddings for "button links" since using "isInline" prop
  // is not an option becaue it removes block margins too.
  .pf-m-link {
    padding-inline: 0;
  }
}

// PatternFly overrides for using CSS Logical Properties

.pf-l-split.pf-m-gutter > :not(:last-child) {
  margin-inline-end: var(--pf-l-split--m-gutter--MarginRight);
}

.pf-l-flex.pf-m-column > * {
  margin: 0;
  margin-block-end: var(--pf-l-flex--spacer);
}

.pf-c-alert__icon {
  margin-block-start: var(--pf-c-alert__icon--MarginTop);
  margin-inline-end: var(--pf-c-alert__icon--MarginRight);
}

.pf-m-grid-md.pf-c-table [data-label]::before {
  text-align: start;
}
