// See https://github.com/patternfly/patternfly/pull/4297
@use "@patternfly/react-styles/css/utilities/BoxShadow/box-shadow.css";
@use "@patternfly/react-styles/css/utilities/Text/text.css";

@use "eos-ds/dist/scss/eos-base/variables/branding";

.layout {
  --header-height: 8ex;
  --footer-height: calc(2 * var(--header-height));

  @extend .pf-u-box-shadow-md;

  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

.layout__header {
  @extend .pf-u-box-shadow-md-bottom;

  // Note: "position: fixed" + "width: inherit" does not work here. Sticky is enough for the header
  position: sticky;
  z-index: 100;
  top: 0;

  background-color: branding.$eos-bc-pine-500;
  color: white;

  height: var(--header-height);
  padding: 0.5rem;

  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.layout__header-left-action {
}

.layout__header-action-icon {
  fill: white;
  height: 1.5rem;
  width: 1.5rem;
  vertical-align: middle;
}

.layout__header-section-title {
  font-size: 1.5rem;
}

.layout__header-section-title-icon {
  fill: white;
  // Sadly, we can't use font-size with EOS Icons
  height: 1em;
  width: 1em;
  vertical-align: sub;
  margin-right: 0.5em;
}

.layout__content {
  padding: 1rem;
  padding-bottom: calc(2rem + var(--footer-height));
  min-height: calc(100vh - var(--header-height));
}

.layout__footer {
  @extend .pf-u-box-shadow-sm-top;

  position: fixed;
  bottom: 0;

  background-color: white;

  height: var(--footer-height);
  width: inherit;
  padding: 1rem;

  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem 1rem;
}

.layout__footer-info-area {
  align-self: center;
  overflow-y: auto;
}

// TODO: Keep alert icons vetically centered here?
// .layout__footer-info-area .pf-c-alert__icon {
//   align-self: center;
// }

.layout__footer-actions-area {
  align-self: center;
  text-align: center;
}
