// See https://github.com/patternfly/patternfly/pull/4297
@use "@patternfly/react-styles/css/utilities/BoxShadow/box-shadow.css";
@use "@patternfly/react-styles/css/utilities/Text/text.css";

@use "eos-ds/dist/scss/eos-base/variables/branding";

.layout {
  --header-block-size: 8ex;
  --footer-block-size: calc(1.5 * var(--header-block-size));
  --min-layout-content-block-size: calc(100vh - var(--header-block-size));
  --layout-content-padding: 1rem;
  --layout-content-padding-block-end: calc(
    var(--layout-content-padding)
    + var(--footer-block-size)
  );

  @extend .pf-u-box-shadow-md;

  background-color: white;
  margin-inline: auto;

  // Needed for "telling" the fixed footer its (inherited) inline-size.
  inline-size: 100%;
}

.layout__header {
  @extend .pf-u-box-shadow-md-bottom;

  // Note: "position: fixed" + "width: inherit" does not work here. Sticky is enough for the header
  position: sticky;
  z-index: 100;
  inset-block-start: 0;

  background-color: branding.$eos-bc-pine-500;
  color: white;

  block-size: var(--header-block-size);
  padding: 0.5rem;

  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.layout__header-left-action {
}

.layout__header-action-icon {
  fill: white;
  block-size: 1.5rem;
  inline-size: 1.5rem;
  vertical-align: middle;
}

.layout__header-section-title {
  font-size: 1.5rem;
}

.layout__header-section-title-icon {
  fill: white;
  // Sadly, we can't use font-size with EOS Icons
  block-size: 1em;
  inline-size: 1em;
  vertical-align: sub;
  margin-inline-end: 0.5em;
}

.layout__content {
  padding: var(--layout-content-padding);
  padding-block-end: var(--layout-content-padding-block-end);
  min-block-size: var(--min-layout-content-block-size);
}

// Needed because a block-size: 100% is not an option when the parent does not
// have an explicit block-size (it has a min-block-size instead).
// See https://stackoverflow.com/a/8468131 and https://www.w3.org/TR/CSS22/visudet.html#the-height-property
.layout__content-child--filling-block-size {
  // NOTE: "min-block-size: inherit;" does not work for us. It produces padding
  // that we do not want unless necessary. Moreover, the .layout__content
  // container element already produce needed padding.
  min-block-size: calc(
    var(--min-layout-content-block-size)
    - var(--layout-content-padding)
    - var(--layout-content-padding-block-end)
  );
}

.layout__footer {
  @extend .pf-u-box-shadow-sm-top;

  position: fixed;
  inset-block-end: 0;

  background-color: white;

  block-size: var(--footer-block-size);
  inline-size: inherit;
  padding: 1rem;

  display: grid;

  gap: 1rem 1rem;
}

.layout__footer-actions-area {
  align-self: center;
  text-align: center;

  display: flex;
  justify-content: end;
  gap: 1rem;
}
