// See https://github.com/patternfly/patternfly/pull/4297
@use "@patternfly/react-styles/css/utilities/Sizing/sizing.css";

// PatternFly overrides for using CSS Logical Properties
.pf-l-split.pf-m-gutter > :not(:last-child) {
  margin-inline-end: var(--pf-l-split--m-gutter--MarginRight);
}

.pf-l-flex.pf-m-column > * {
  margin: 0;
  margin-block-end: var(--pf-l-flex--spacer);
}

.pf-c-alert__icon {
  margin-block-start: var(--pf-c-alert__icon--MarginTop);
  margin-inline-end: var(--pf-c-alert__icon--MarginRight);
}

.pf-m-grid-md.pf-c-table [data-label]::before {
  text-align: start;
}

// EOS icons does not obey font-size
.pf-c-empty-state__icon {
  inline-size: 10rem;
  block-size: 10rem;
}

// Fix single-line subprogress missaligment
.pf-c-progress.pf-m-singleline .pf-c-progress__bar {
  grid-row: 1/3;
  grid-column: 1/3;
}

.pf-c-modal-box__footer {
}

.pf-c-modal-box__footer {
  // EOS prefers buttons placed at the right
  // Read https://eosdesignsystem.herokuapp.com/buttons/positioning
  flex-direction: row-reverse;

  // Overrides buttons margins. In row-reverse mode, we need margin
  // for the :last-child too.
  // See https://github.com/patternfly/patternfly/blob/9c8cb7c8609613ab53eef3fe05addda16bc63233/src/patternfly/components/ModalBox/modal-box.scss#L211
  > .pf-c-button {
    margin-inline-end: 1ch;
  }

  // But avoid the gap between buttons and links. We keep using a link
  // variant for a "Do not XYZ" actions, which are not destructive in the
  // context of the installer.
  > .pf-m-link {
    margin-inline-end: 0;
  }
}
