// @import "eos-ds/dist/scss/eos-base/index.scss";
@use "eos-ds/dist/scss/eos-base/variables/branding.scss";
// See https://github.com/patternfly/patternfly/pull/4297
@use "@patternfly/react-styles/css/utilities/Sizing/sizing.css";
// D-Installer fonts
@use "assets/fonts.scss";

:root {
  // Overrides some PatternFly CSS variables for using values
  // provided or suggested by EOS Design System.
  //
  // See more at
  //   - https://eosdesignsystem.herokuapp.com
  //   - https://gitlab.com/SUSE-UIUX/eos-ds-npm/
  //   - https://github.com/mcoker/patternfly/blob/main/src/patternfly/base/_variables.scss

  // Font families
  --pf-global--FontFamily--sans-serif: #{fonts.$base};
  --pf-global--FontFamily--heading--sans-serif: #{fonts.$headlines};
  --pf-global--FontFamily--monospace: #{fonts.$code};
  --pf-global--FontFamily--redhat-updated--sans-serif: #{fonts.$base};
  --pf-global--FontFamily--redhat-updated--heading--sans-serif: #{fonts.$headlines};
  --pf-global--FontFamily--redhat--monospace: #{fonts.$code};
  --pf-global--FontFamily--redhatVF--sans-serif: #{fonts.$base};
  --pf-global--FontFamily--redhatVF--heading--sans-serif: #{fonts.$headlines};
  --pf-global--FontFamily--redhatVF--monospace: #{fonts.$code};
  --pf-global--FontFamily--overpass--sans-serif: #{fonts.$base};
  --pf-global--FontFamily--overpass--monospace: #{fonts.$code};

  // Font size
  // Based on sizes of EOS headings.
  // See "eos-ds/dist/scss/eos-base/variables/titles.scss";
  --pf-global--FontSize--4xl: 2em;
  --pf-global--FontSize--3xl: 1.75em;
  --pf-global--FontSize--2xl: 1.5em;
  --pf-global--FontSize--xl: 1.3em;
  --pf-global--FontSize--lg: 1.15em;
  --pf-global--FontSize--md: #{fonts.$size-base};
  // TODO: find better equivalences for sm and xs
  // --pf-global--FontSize--xs: #{$pf-global--FontSize--xs};
  // --pf-global--FontSize--sm: #{$pf-global--FontSize--sm};
  --pf-global--FontSize--sm: #{fonts.$size-base - 1px};
  --pf-global--FontSize--xs: #{fonts.$size-base - 2px};

  // Font weight
  --pf-global--FontWeight--light: 300;
  --pf-global--FontWeight--normal: 400;
  --pf-global--FontWeight--semi-bold: 400;
  --pf-global--FontWeight--overpass--semi-bold: 400;
  --pf-global--FontWeight--bold: 700;
  --pf-global--FontWeight--overpass--bold: 700;

  // Colors
  --pf-global--primary-color--100: #{branding.$eos-bc-green-500};
  --pf-global--primary-color--200: #{branding.$eos-bc-green-900};
  --pf-global--link--Color: var(--pf-global--primary-color--100);
  --pf-global--link--Color--hover: var(--pf-global--primary-color--200);
  --pf-global--BackgroundColor--dark-100: #{branding.$eos-bc-pine-500};

}

.pf-c-button.pf-m-link {
  // Colors for buttons mofidiers
  --pf-c-button--m-link--Color: #{branding.$eos-bc-green-500};
  --pf-c-button--m-link--Color--hover: #{branding.$eos-bc-green-900};
  --pf-c-button--m-link--m-inline--hover--Color: #{branding.$eos-bc-green-900};
}

// Adds a tiny "padding" when focusing a primary or secondary action to avoid
// https://github.com/yast/d-installer/issues/115#issuecomment-1087375598
.pf-c-button.pf-m-primary:focus-visible,
.pf-c-button.pf-m-secondary:focus-visible {
  box-shadow: 0 0 0 1px white, 0 0 0 2px branding.$eos-bc-cerulean-500;
}

// PatternFly overrides for using CSS Logical Properties
.pf-l-split.pf-m-gutter > :not(:last-child) {
  margin-inline-end: var(--pf-l-split--m-gutter--MarginRight);
}

.pf-l-flex.pf-m-column > * {
  margin: 0;
  margin-block-end: var(--pf-l-flex--spacer);
}

.pf-c-alert__icon {
  margin-block-start: var(--pf-c-alert__icon--MarginTop);
  margin-inline-end: var(--pf-c-alert__icon--MarginRight);
}

.pf-m-grid-md.pf-c-table [data-label]::before {
  text-align: start;
}

// EOS icons does not obey font-size
.pf-c-empty-state__icon {
  inline-size: 10rem;
  block-size: 10rem;
}

// Fix single-line subprogress missaligment
.pf-c-progress.pf-m-singleline .pf-c-progress__bar {
  grid-row: 1/3;
  grid-column: 1/3;
}

.pf-c-form__actions,
.pf-c-modal-box__footer {
  // EOS prefers buttons placed at the right
  // Read https://eosdesignsystem.herokuapp.com/buttons/positioning
  flex-direction: row-reverse;

  // Overrides buttons margins. In row-reverse mode, we need margin
  // for the :last-child too.
  // See https://github.com/patternfly/patternfly/blob/9c8cb7c8609613ab53eef3fe05addda16bc63233/src/patternfly/components/ModalBox/modal-box.scss#L211
  > .pf-c-button {
    margin-inline-end: var(--pf-c-modal-box__footer--c-button--MarginRight);
  }
}

// Do not change the default cursor for labels forms because it is confusing
//
// See:
//  * https://github.com/yast/d-installer/issues/115#issuecomment-1090205696
//  * https://github.com/patternfly/patternfly/issues/4777#issuecomment-1092090484
.pf-c-form__label {
  --pf-c-form__label--hover--Cursor: default;
  --pf-c-form__label--m-disabled--hover--Cursor: default;
}
