[Desktop Entry]
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Net_advanced;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true
X-SuSE-YaST-Call=dns-server

X-SuSE-YaST-Group=Net_advanced
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=all
X-SuSE-YaST-AutoInstClonable=true
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstResource=dns-server
X-SuSE-YaST-AutoInstRequires=lan,ldap,ldap-server,ldap-client
X-SuSE-YaST-AutoInstSchema=dns-server.rnc
X-SuSE-YaST-Keywords=dns,domain,nameserver,network,lookup

Icon=yast-dns-server
Exec=xdg-su -c "/sbin/yast2 dns-server"

Name=YaST DNS Server
GenericName=DNS Server
Comment=Configure a DNS server
StartupNotify=true
