[package]
name = "agama-manager"
version = "0.1.0"
rust-version.workspace = true
edition.workspace = true

[dependencies]
agama-utils = { path = "../agama-utils" }
agama-l10n = { path = "../agama-l10n" }
agama-software = { path = "../agama-software" }
agama-storage = { path = "../agama-storage" }
thiserror = "2.0.12"
tokio = { version = "1.40.0", features = ["macros", "rt-multi-thread", "sync"] }
async-trait = "0.1.83"
zbus = { version = "5", default-features = false, features = ["tokio"] }
merge-struct = "0.1.0"
serde_json = "1.0.140"

[dev-dependencies]
tokio-test = "0.4.4"

[lints.rust]
unexpected_cfgs = { level = "warn", check-cfg = ['cfg(ci)'] }
