name: Submit agama-products

on:
  # runs on pushes targeting the default branch
  push:
    branches:
      - master
    paths:
      # run only when a Rust source is changed
      - products.d/**

  # allow running manually
  workflow_dispatch:

jobs:
  update_staging:
    uses: ./.github/workflows/obs-staging-shared.yml
    # pass all secrets
    secrets: inherit
    with:
      package_name: agama-products-opensuse
      service_file: products.d/_service
